@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap'); */
 body {
  font-family: 'Almarai', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  overflow-x: hidden
  
}


.animated-title::after{
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #573589;
  z-index: -1;
  animation: animated-title 5s infinite;
  
}


@keyframes animated-title {
  0%{
    width: 0;
  }
  25%{
    width: 50%;
  }
  50%{
    
    width: 0;
  }
  75%{
    width: 100%;
    
  }
  100%{
    width: 0;

  }
  
}


@media (max-width: 920px) {
  .animated-title::after {
    animation: none;
    width: 80%;
  }
}


/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;
