@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap'); */
 body {
  font-family: 'Almarai', sans-serif;
  /* user-select: none; */
  /* -webkit-user-drag: none; */
  user-select: none;
  -webkit-user-drag: none;
  overflow-x: hidden;
  background: #f7f2fb;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33'%3E%3Cpath d='M0 0h2.25Zm0 0v2.25Zm33 33h-2.25Zm0 0v-2.25Zm0-33h-2.25Zm0 0v2.25ZM0 33v-2.25Zm0 0h2.25Z' stroke-opacity='.065' stroke-width='1.1' stroke='%23000'/%3E%3C/svg%3E");

  
}


.animated-title::after{
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #573589;
  z-index: -1;
  animation: animated-title 5s infinite;
  
}


@keyframes animated-title {
  0%{
    width: 0;
  }
  25%{
    width: 50%;
  }
  50%{
    
    width: 0;
  }
  75%{
    width: 100%;
    
  }
  100%{
    width: 0;

  }
  
}


@media (max-width: 920px) {
  .animated-title::after {
    animation: none;
    width: 80%;
  }
}









/* Apply the scrollbar style to the element with overflow-y-auto */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
 @apply bg-main;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-sec;
}


.scrollbar-hide::-webkit-scrollbar {
  height: 4px;
}





.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}











/* CustomSelect.css */

/* Style for the custom select container */
.custom-select {
  position: relative;
  display: inline-block;
  background-color: white; /* Change this to your desired background color */
  border-radius: 0.25rem;
  font-size: 1rem;
}

/* Style for the select element */
.custom-select select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  width: 100%;
  appearance: none;
}

/* Style for the dropdown icon */
.custom-select .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}





/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;
