@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap'); */
 body {
  font-family: 'Almarai', sans-serif;
  /* user-select: none; */
  /* -webkit-user-drag: none; */
  user-select: none;
  -webkit-user-drag: none;
  overflow-x: hidden;
  background: #f5f5f5;
  
}


.animated-title::after{
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #573589;
  z-index: -1;
  animation: animated-title 5s infinite;
  
}


@keyframes animated-title {
  0%{
    width: 0;
  }
  25%{
    width: 50%;
  }
  50%{
    
    width: 0;
  }
  75%{
    width: 100%;
    
  }
  100%{
    width: 0;

  }
  
}


@media (max-width: 920px) {
  .animated-title::after {
    animation: none;
    width: 80%;
  }
}









/* Apply the scrollbar style to the element with overflow-y-auto */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
 @apply bg-main;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-sec;
}


.scrollbar-hide::-webkit-scrollbar {
  height: 4px;
}





.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}
















/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;
