




.text-animition::after{
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  height: 100%;
  background: white;
  border-left: black 1px solid;
  animation: text-animition 3s infinite;
}
.dark .text-animition::after {
  @apply bg-slate-800;
}


@keyframes text-animition {
  25%,100%{
    width: 0;
  }
  50%{
    width: 100%;
  }
}