

.active{
  @apply bg-blue-500;
  color: white;
}


.sideBarAnimation{
  animation: sideBarAnimation .3s forwards ;
}


@keyframes sideBarAnimation {
  0%{
    width: 250px;
  }
  100%{
    width: 80px;
  }
  
}
.sideBarAnimationR{
  animation: sideBarAnimationR .3s forwards ;
}


@keyframes sideBarAnimationR {
  0%{
    width: 80px;
  }
  100%{
    width: 250px;
  }
  
}