@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap'); */



body {
  font-family: 'Almarai', sans-serif;
  user-select: none;
  /* -webkit-user-drag: none; */
  overflow-x: hidden
  
}



/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;